body {
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 300px;
    padding: 7px;
}

.initialScreen {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(70deg, #4fff8a, #53c0ff, #ff607b);  
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}


.initialScreen .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .initialScreen {padding-top: 15px;}
    /* .initialScreen a {font-size: 18px;} */
}

#data {
    position: absolute;
    font-size: 40px;
    top: 30%;
    left: 20%;
    width: 500px; 
    height: 50px;
    border-radius: 1em; 
}


#timePeriod {
    position: absolute;
    font-size: 40px;
    top: 30%;
    left: 60%;
    width: 600px;
    height: 50px ; 
    border-radius: 1em; 
}

#datePick {
    position: absolute;
    font-size: 40px;
    top: 40%;
    left: 37%;
    width: 660px; 
    height: 100px ;
    border-radius: 1em; 
}

div.ui-datepicker, .ui-datepicker td, .ui-datepicker th{
    font-size:39px;
}

#weekPick {
    position: absolute;
    font-size: 40px;
    top: 40%;
    left: 40%;
    width: 500px; 
    height: 250px ;
    border-radius: 1em; 
}

#monthPick {
    position: absolute; 
    font-size: 40px;
    top: 40%;
    left: 40%;
    width:520px;
    height: 250px ;
    border-radius: 1em; 

}

#launchPad {
    position: absolute;
    font-size: 40px;
    top: 30%;
    left: 42%;
    width: 400px; 
    height: 50px ;
    border-radius: 1em; 

}

/* Start of data screen -- sidebar */

#myDataScreen {
    transition: margin-left .5s;
    padding: 16px;
}

* {
    font-family: 'font1';
}

h1 {
    margin-top: 0;
    color: #343651;
}

header {
    padding: 0.5em;
    text-align: center;
    height: 100px;
}

.sidebar {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.tooltipSliderContainer {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
    font-size: 25px;
    font-weight: bold;
}

.tooltipSliderContainer2 {
    position: relative;
    display: inline-block;
    /* border-bottom: 1px dotted black; */
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
  
.tooltipSliderContainer .tooltiptext {
    left:10px;
    visibility: hidden;
    width: 240px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
  
.tooltipSliderContainer:hover .tooltiptext {
    visibility: visible;
}

.slidecontainery {
    position: absolute;
    top: 25px;
    left: 0px;
    width: 250px; 
}

.slidecontainer {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 250px; 
}

#PER, #ABS, #COUABS, #COUPER{
    font-size:18pt;
}

.slidecontainer2 {
    position: absolute;
    top: 300px;
    left: 0px;
    width: 250px;
}

.slidecontainerx {
    position: absolute;
    top: 475px;
    left: 0px;
}

.slidecontainer3 {
    position: absolute;
    top: 525px;
    left: 0px;
    width: 250px;
}

.slidecontainer4 {
    position: absolute;
    top: 725px;
    left: 0px;
    width: 250px;
}

.slider {
    margin-top: 20px;
    -webkit-appearance: none;
    appearance: none;
    width: 100%; 
    height: 5px; 
    border-radius: 5px;
    background: #d3d3d3; 
    outline: none; 
    margin-bottom: 30px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: blue;
    cursor: pointer 
}

input[type='text']{
    margin-top:0px;
    margin-left: 10px;
    height:35px;
    width:210px;
}

.buttons{
    position: absolute;
    top: 150px;
    left: 1300px;
}

#dataset-select, #dataset-select-2{
    /* height: 40px;"  */
    font-size: 20px
}

.tableLegend{
    position: absolute;
    top: 120px;
    left: 1600px;
}

#textsForTP{
    left: 300px;
    top: 0px;
    width: 1000px;
    height: 550px;
    position: absolute;
}

.linechartviewAttacks {
    width: 1000px;
    height: 1000px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 600px;
    left: 260px;
}

#line-chart-attacks {
    width: 1000px;
    height: 1000px;
}

.axisyattacks { 
    font: 20px sans-serif; 
}

.axisxattacks { 
    font: 25px sans-serif; 
}

.textattackssmall { 
    font: 25px sans-serif; 
}

.textattacksbig { 
    font: 35px sans-serif; 
}


.linechartviewAttackers {
    width: 1000px;
    height: 1000px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 1650px;
    left: 260px;
}

#line-chart-attackers {
    width: 1000px;
    height: 1000px;
}

.axisyattackers { 
    font: 20px sans-serif; 
}

.axisxattackers { 
    font: 25px sans-serif; 
}

.textattackerssmall { 
    font: 25px sans-serif; 
}

.textattackersbig { 
    font: 35px sans-serif; 
}

.view {
    width: 500px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 200px;
    left: 1300px;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    font: 14px sans-serif;
}

.sortable {
    user-select: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 6px;
    font: 25px times;
}

th:first-of-type {
    text-align: left;
}

th {
    font-weight: normal;
    text-align: center;
}

th:last-of-type
{
    text-align: center;
}

#predictionTable td {
    line-height: 0;
}

#predictionTable tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background-color: pink;
}

td:first-of-type {
    text-align: left;
}

td {
    text-align: center;
}

td:last-of-type
{
    text-align: center;
}

.tooltip {
    position: absolute;
    pointer-events: none;
    background-color: white;
    color: black;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
}

.axis { 
    font: 17px sans-serif; 
    font-weight: bold;
}

.axis2 { 
    font: 20px sans-serif; 
}

#comparisonGroupedBarGraph{
    position: absolute;
}

#parallelCoordinatesGraph{
    position: absolute;
}

#donutGraph{
    position: absolute;
}





