body {
    font-family: Arial, Helvetica, sans-serif;
}

/* div for initial variables */
    #initialVariablesDiv {
        left:5px;
        top:5px;
        height: 150px;
        width:99.5%;
        background-color: darkseagreen;
        position: absolute; 
        outline: 5px dashed black
    }

    #data {
        position: absolute;
        font-size: 40px;
        top: 30%;
        left: 2%;
        width: 500px; 
        height: 50px;
        border-radius: 1em; 
    }


    #timePeriod {
        position: absolute;
        font-size: 40px;
        top: 30%;
        left: 73%;
        width: 600px;
        height: 50px ; 
        border-radius: 1em; 
    }

    #datePick {
        position: absolute;
        font-size: 40px;
        top: 15%;
        left: 25%;
        width: 660px; 
        height: 100px ;
        border-radius: 1em; 
    }

    div.ui-datepicker, .ui-datepicker td, .ui-datepicker th{
        font-size:39px;
    }

    #weekPick {
        position: absolute;
        font-size: 40px;
        top: 0%;
        left: 27%;
        width: 520px; 
        border-radius: 1em; 
        height:150px;
        overflow:auto;
    }

    #monthPick {
        position: absolute; 
        font-size: 40px;
        top: 0%;
        left: 27%;
        width:550px;
        height: 150px ;
        border-radius: 1em; 
    }


    #launchPad {
        position: absolute;
        font-size: 40px;
        top: 30%;
        left: 52%;
        width: 400px; 
        height: 50px ;
        border-radius: 1em; 
    }

/* div for initial variables ends*/

/* svg for textual chart */

    #textsForTP{
        left:5px;
        top:170px;
        height: 0px;
        width:300px;
        background-color: white;
        position: absolute; 
    }

/* svg for textual chart ends */

/* div for base button */

    #baseTPDiv{
        position: absolute;
        left:320px;
        top:285px;
        width: 300px;
        height: 50px;
    }


    #baseTP{
        position: absolute;
        font-size: 30px;
        top: 0px;
        left: 0px;
        min-width: 300px; 
        height: 50px;
        border-radius: 1em; 
    }

/* div for base button ends */



/* Below Used By sliders */

    .tooltipForSidebarButtonAndSliders {
        position: relative;
        display: inline-block;
        font-size: 25px;
        font-weight: bold;
    }

    .tooltipForSidebarButtonAndSliders .tooltiptext {
        left:10px;
        visibility: hidden;
        width: 240px;
        background-color: black;
        color: white;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
    
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
    }
    
    .tooltipForSidebarButtonAndSliders:hover .tooltiptext {
        visibility: visible;
    }

    
    input[type="range"][orient=vertical]{
        position: absolute;
        transform: rotate(270deg);
        -webkit-appearance: none;
        appearance: none;
        background: black;
        cursor: pointer;
        width: 15rem;
        background: grey;
    }

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: blue;
        cursor: pointer  
    }

/* Above Used By sidebar button AND sliders from div */

/* div for filtering things */

    #filterDiv{
        position: absolute;
        left:640px;
        top:170px;
        height: 170px;
        width: 1250px;
        outline: 5px dashed black
    }

    /* sliders start */
        #slidecontainer{
            position: absolute;
            top: 30px;
            left: 50px;
            width: 240px; 
            height:100px;
        }

        #slidecontainer2{
            position: absolute;
            top: 30px;
            left: 400px;
            width: 240px; 
            height:100px;
        }

        #myRange, #myRange2{
            position: absolute;
            top: 50px;
            left: 0px;
            width: 200px; 
            height:1px;
        }

        #Text1, #Text2{
            position: absolute;
            top: 70px;
            left: 0px;
            width: 330px; 
            height:35px;
        }

        #PER, #ABS{
            position: absolute;
            top: 100px;
            left: 0px;
            width: 210px; 
            height:25px;
            font-size:18pt;
        }

        #svg1, #svg2{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 250px; 
            height:30px;
            font-size:18pt;
        }
    /* sliders end */


    /* Country datalist filter */

        #countryOptions{
            left:700px;
            top:80px;
            width: 550px;
            height: 100px;
            flex-direction: column;
            align-items: center;
            position: absolute;
        }

        #labelText{
            position: absolute;
            top:-10px;
            left:0px;
        }

        #labelText2{
            position: absolute;
            top:15px;
            left:0px;
        }


        #countries-from-data{
            position: absolute;
            top:45px;
            left:0px;
            font-size: 25px;
        }

    /* Country datalist filter ends*/


    #resetButton {
        position: absolute;
        font-size: 40px;
        top: 110px;
        left: 1100px;
        border-radius: 1em; 
    }

/* div for filtering things ends */

/* div for non filtering things */

    #nonFilterDiv{
        position: absolute;
        left:320px;
        top:350px;
        height: 700px;
        width: 300px;
        outline: 5px dashed black
    }

    #sortTPDiv{
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 25px;
    }

    #sortTP{
        position: absolute;
        top: 0px;
        left: 0px;
        height: 50px;
        min-width:280px;
        font-size: 25px;
    }

    /* sliders start */
        #slidecontainer3{
            position: absolute;
            top: 100px;
            left: 40px;
            width: 220px; 
            height:280px;
        }

        #slidecontainer4{
            position: absolute;
            top: 400px;
            left: 40px;
            width: 220px; 
            height:280px;
        }

        #myRange3, #myRange4{
            position: absolute;
            top: 100px;
            left: 0px;
            width: 200px; 
            height:1px;
        }

        #Text3{
            position: absolute;
            top: 210px;
            left: -10px;
            width: 330px; 
            height:35px;
        }

        #Text4{
            position: absolute;
            top: 210px;
            left: 0px;
            width: 330px; 
            height:35px;
        }

        #COUPER, #COUABS{
            position: absolute;
            top: 250px;
            left: 0px;
            width: 210px; 
            height:25px;
            font-size:18pt;
        }
    /* sliders end */

    /* svgs*/

        #svg3, #svg4{
            position: absolute;
            top: 0px;
            left: 130px;
            width: 100px; 
            height:210px;
            font-size:18pt;
        }

    /* svgs end */

/* div for non filtering things ends*/


/* div for table legend */

    #tableLegend{
        position: absolute;
        top: 360px;
        left: 635px;
        width: 1260px;
        height: 90px;
    }

    #colorForLegend{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 175px;
        height: 90px;
    }

    #legend{
        position: absolute;
        top: 0px;
        left: 175px;
        width: 1040px;
        height: 90px;
    }

/* div for table legend ends*/

/* table starts */

    #view {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 450px;
        left: 640px;
        outline: 5px dashed black;
    }

    table, th, td{
        border: 0px solid black;
        border-collapse: collapse;
        font: 14px sans-serif;
    }

    .sortable {
        user-select: none;
        border-radius: 3px;
        cursor: pointer;
        padding: 6px;
        font: 25px times;
    }

    th:first-of-type {
        text-align: left;
    }

    th {
        font-weight: normal;
        text-align: center;
    }

    th:last-of-type
    {
        text-align: center;
    }

    #predictionTable td {
        line-height: 0;
    }

    #predictionTable tbody tr {
        cursor: pointer;
    }

    tbody tr:hover {
        background-color: pink;
    }

    td:first-of-type {
        text-align: left;
    }

    td {
        text-align: center;
    }

    td:last-of-type
    {
        text-align: center;
    }

    .tooltip {
        position: absolute;
        pointer-events: none;
        background-color: white;
        color: black;
        border: solid;
        border-width: 1px;
        border-radius: 5px;
        padding: 10px;
    }

/* table ends */



#comparisonGroupedBarGraph{
    position: absolute;
}

#parallelCoordinatesGraph{
    position: absolute;
}

#usernameFilterDiv{
    position: absolute;
    /* left:1000px;
    top:1000px; */
    width: 300px;
    height: 50px;
}

#usernameFilter{
    position: absolute;
    font-size: 30px;
    top: 0px;
    left: 0px;
    width: 0px; 
    height: 0px;
    border-radius: 1em; 
}

#donutGraph{
    position: absolute;
}





